/*  ✪ https://zam.usite.pro/publ/...
    ✫ Версия 1.0.0
    © Copyright Плюшки для сайтов 2024
*/

[zhid] [zhidb] {/* Помогает интеграции */
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  line-height: 1.1;
  font-style: inherit;
}

/* ✦ Открыть/Закрыть [zhid] .zHid ✦ *//* #region */
/* • (zhid="{цифра}" || style="--zHidX:{цыфра};")
      <div zhid="1" - Всегда открыто
      <div zhid="0" - Всегда закрыто
      <div zhid=""  - Экран больше 768px: Открыто
                    - Экран меньше 769px: Закрыто
                    • Автозакрытие: (При первой загрузке страницы и когда экран меньше 768px.)

   • Видемость при закрытии: (style="zHid:{цыфры}ex")
      <div style="--zHid:3ex"
      <div style="--zHid:7ex"
      undefined = 4ex
        ex - Высота шрифта в нижнем регистре
           - Можно использовать все виды: px, em ...
    
   • <button zhidb> - кнопка для Открыть/Закрыть
   
  <div style="--zHid:3" zhid="1"><button>V</button>
    ...
  </div>
*/
    /* ✦✦ Расцветка под разные фоны сайта ✦✦ *//* #region */
/* НАСТРАИВАЕМ ПОД СВОЙ САЙТ!!!
   в <body добавить class="":
     Примеры:
     • .tema9   - когда фон сайта чёрный
     • .tema4-1 - Тёмно-синий сайт
   
   По умолчанию белый фон!
*/
.tema9 [zhid] {/* Чёрный сайт */
  --bg: #000;  /* background */
}
.tema4-1 [zhid] {/* Тёмно-синий сайт */
  --bg: #012;  /* background */
}
    /* ✦✦ Расцветка под разные фоны сайта ✦✦ *//* #endregion */

    /* ✦✦ ! ✦✦ *//* #region */
[zhid] {
  --zHidC: var(--bg, #fff);/* Цвет затемнения (Обычно цвет заднего фона) */
  --zHidH: var(--zHid, 4ex);/* Размер видимого участка при закрытом состоянии */
  --zHidHs: 2.5ex;/* Размер тени */
  --zHidCt: #0b0;/* Цвет button Открыть */
  position: relative;
  overflow: hidden;
  max-height: 100%;
}

        /* ✦✦✦ button ✦✦✦ *//* #region */
[zhid] [zhidb] {z-index: 1;
  float: right;
  padding: 0 7px;
  /* Временно: */
  background: #0000;
}
[zhid] [zhidb]::after {
  content: '∆';
  color:red;
}
        /* ✦✦✦ button ✦✦✦ *//* #endregion */
    /* ✦✦ ! ✦✦ *//* #endregion */

    /* ✦✦ Закрыто ✦✦ *//* #region */
        /* ✦✦✦ ! ✦✦✦ *//* #region */
[zhid]::after {
  content: '';
  position: absolute!important;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;/* Для анимации открытия затемнения */
  background: linear-gradient(0, var(--zHidC), #0000);
  pointer-events: none;
  transition: 1s
}
[zhid="0"]::after {/* Открыли! Уберём анимацию*/
  transition: 0s
}
        /* ✦✦✦ ! ✦✦✦ *//* #endregion */
@media (min-width: 769px) {/* 769 больше или равно */
  /* Это @media уберает двойное закрытие */
  [zhid="1"] {
    max-height: var(--zHidH);
  }
  [zhid="1"]::after {/* затемнение */
    height: var(--zHidHs);/* Для анимации открытия затемнения */
  }
  [zhid="1"] [zhidb]::after {/* button Открыть/Закрыть */
    content: '√';
    color: var(--zHidCt);
  }
}
/* Авто закрытие всего когда экран меньше 768px */
@media (max-width: 768px) {/* меньше или ровно 768 */
  [zhid]:not([zhid="0"]) {
    max-height: var(--zHidH);
  }
  [zhid]:not([zhid="0"])::after {
    height: var(--zHidHs);/* Для анимации открытия затемнения */
  }
  [zhid]:not([zhid="0"]) [zhidb]::after {
    content: '√';
    color: var(--zHidCt);
  }
}
    /* ✦✦ Закрыто ✦✦ *//* #endregion */
/* ✦ Открыть/Закрыть [zhid] ✦ *//* #endregion */