/*  ✪ https://zam.usite.pro/publ/2-1-0-4
    ✫ Версия 1.0.0
    © Copyright Плюшки для сайтов 2024
*/

[zhidb], [zhidb] *,/* p, s */
[zhidb] s::after, [zhidb] s::before {/* Помогает интеграции */
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  outline: 0;
  box-sizing: border-box;
  line-height: 1.1;
  font-size: inherit;
}

/* ✦ a, button (.B-L Загрузка...) ✦ *//* #region */
    /* ✦✦ ! :hover/disabled/.B-L ✦✦ *//* #region */
[zhidb] {
  --B-C: #59f;/* Цвет */
  --B-I-C: var(--B-C);/* Свой цвет иконки <button style="--B-I-C: #fff" */
  display: inline-flex;
  align-items: center;/* Для выравнивания по Центру b */
  font: inherit;
  color: var(--B-C);
  background: #0000;
  cursor: pointer;
  text-decoration: unset;
  transition: .3s;
}

[zhidb]:not([disabled]):hover > *,/* :is(p,b) Затемнение при наведении мышки */
[zhidb][disabled] {/* disabled */
  opacity: .3;
}
/* смартфоны, устройства с сенсорным экраном, с которым работают пальцами */
@media (hover: none) and (pointer: coarse) {
  [zhidb]:not([disabled]):hover > *{/* Отжимает opacity.3 (На телефоне остаёдся гореть после нажатия) */
    opacity: 1;
    color: var(--B-C);
  }
}

[zhidb][disabled] {/* disabled/Загрузка */
  /* cursor: default; */
  pointer-events: none;/* Убераем возможнасть нажать */
}
[zhidb][disabled] > * {
  opacity: .6;
}
    /* ✦✦ ! :hover/disabled/.B-L ✦✦ *//* #endregion */
    
    /* ✦✦ b Текст ✦✦ *//* #region */
[zhidb] > b {
  display: block;/* Для выравнивания по Центру */
  text-align: left;/* Полезно при переносе строки */
  padding-left: 4px;
  font-weight: 400;
}
    /* ✦✦ b Текст ✦✦ *//* #endregion */
/* ✦ a, button (.B-L i Загрузка...) ✦ *//* #endregion */

/* ✦ icon (Свои) ✦ *//* #region */
    /* ✦✦ ! ✦✦ *//* #region */
button[zhidb] {/* button повышаем приоретет */
  --B-I-O: var(--B-I-Om, 4px);/* Отступ между <button(рамка) и <p(icon) */
  padding: 0 0 0 calc(1em + var(--B-I-O));
  height: calc(1em + var(--B-I-O));
}

[zhidb] p {/* icon. Для смещения иконки: p {margin-bottom/left: 4px;*/
  display: inline-flex;/* Центруем для <s */
  justify-content: center;
  align-items: center;
  position: absolute;
  left: calc(var(--B-I-O) / 2);/* Центруем */
  width: 1em;
  height: 1em;
}
    /* ✦✦ ! ✦✦ *//* #endregion */
/* ✦ icon (Свои) ✦ *//* #endregion */

/* ✦ button.B-I(x) p,s icon ✦ *//* #region */
    /* ✦✦ ! p,s ✦✦ *//* #region */
[zhidb] s {
  transform: translate(0, 0);/* Для корекции отображения */
}

[zhidb] s::before,
[zhidb] s::after {
  content: '';
  position: absolute;
  top: 0;/* Для transition: .7s */
  left: -.17em;
  width: .44em;
  height: 1px;/* em не использовать! (выдаст разную толщину) */
  border: 1px solid var(--B-I-C);
  background: var(--B-I-C);
  transform: translate(-50%, -50%) rotate(35deg);
  transition: .7s,/* для красивой смены кнопок .B-Ix-M ☰ => ✘ .B-Ix-X */
    background .5s, border-color .5s; /* для плавной смены цвета при наведении мышкой */
}
    /* ✦✦ ! p,s ✦✦ *//* #endregion */
/* ✦ button.B-I(x) p,s icon ✦ *//* #endregion */

/* ✦ Открыть/Закрыть [zhid] .zHid ✦ *//* #region */
/* • (zhid="{цифра}" || style="--zHidX:{цыфра};")
      <div zhid="1" - Всегда открыто
      <div zhid="0" - Всегда закрыто
      <div zhid=""  - Экран больше 768px: Открыто
                    - Экран меньше 769px: Закрыто
                    • Автозакрытие: (При первой загрузке страницы и когда экран меньше 768px.)

   • Видемость при закрытии: (style="zHid:{цыфры}ex")
      <div style="--zHid:3ex"
      <div style="--zHid:7ex"
      undefined = 4ex
        ex - Высота шрифта в нижнем регистре
           - Можно использовать все виды: px, em ...
    
   • <button zhidb> - кнопка для Открыть/Закрыть
   
  <div style="--zHid:3" zhid="1"><button zhidb></button>
    ...
  </div>
*/
    /* ✦✦ Расцветка под разные фоны сайта ✦✦ *//* #region */
/* НАСТРАИВАЕМ ПОД СВОЙ САЙТ!!!
   в <body добавить class="":
     Примеры:
     • .tema9   - когда фон сайта чёрный
     • .tema4-1 - Тёмно-синий сайт
   
   По умолчанию белый фон!
*/
.tema9 [zhid] {/* Чёрный сайт */
  --bg: #000;  /* background */
}
.tema4-1 [zhid] {/* Тёмно-синий сайт */
  --bg: #012;  /* background */
}
    /* ✦✦ Расцветка под разные фоны сайта ✦✦ *//* #endregion */

    /* ✦✦ ! ✦✦ *//* #region */
[zhid] {
  --zHidC: var(--bg, #fff);/* Цвет затемнения (Обычно цвет заднего фона) */
  --zHidH: var(--zHid, 4ex);/* Размер видимого участка при закрытом состоянии */
  --zHidHs: 2.5ex;/* Размер тени */
  position: relative;
  max-height: 100%;
  /*border: 1px solid #0000;*//* Уберает дёрганье button. (!!!Не ставить!!! Влияет на дизайн <fieldset zhid>)*/
}

        /* ✦✦✦ button ✦✦✦ *//* #region */
[zhidb] {z-index: 3!important;
  float: right;
}

[zhidb] s {--B-I-C: #f66}/* Ʌ Закрыть */
[zhidb] s::before {
  transform: translate(-50%, -50%) rotate(-35deg);
}
[zhidb] s::after {
  left: .17em;
}
        /* ✦✦✦ button ✦✦✦ *//* #endregion */
    /* ✦✦ ! ✦✦ *//* #endregion */

    /* ✦✦ Закрыто ✦✦ *//* #region */
        /* ✦✦✦ ! ✦✦✦ *//* #region */
[zhid]::after, [zhid]::before {
  position: absolute !important;
  left: 0;
  right: 0;
  bottom: 0;
}

[zhid]::after {z-index: 2;/* Затемнение */
  content: '';
  height: 0;/* Для анимации открытия затемнения */
  background: linear-gradient(0, var(--zHidC), #0000);
  pointer-events: none;
  transition: 1s
}
[zhid="0"]::after {/* Открыли! Уберём анимацию*/
  transition: 0s
}
/* Изменение: 'Запрет нажатия/обводка на элементы когда закрыто' ::before */
[zhid]:not([zhid="0"])::before {/* Убераем возможномть нажать (Когда закрыто), полезно! */
  z-index: 3;
  top: 0;
}
/* Уберём возможное нажатие на <button>✓ когда закрыто, для внутрених .zHid2, .zHid3 */
[zhid]:not([zhid="0"], .zHid2, .zHid3) :is([zhidb="2"], [zhidb="3"]),/* Уровень 1 уберём в Уровень2 и Уровень3 */
.zHid2:not([zhid="0"]) :is([zhidb="3"]) {/* Уровень2 уберём в Уровень3 */
  z-index: 2;
  pointer-events: none;
  opacity: .4;
}
        /* ✦✦✦ ! ✦✦✦ *//* #endregion */
@media (min-width: 769px) {/* 769 больше или равно */
  /* Это @media уберает двойное закрытие */
  [zhid="1"] {
    overflow: hidden;
    max-height: var(--zHidH);
  }
  [zhid="1"]::after {/* затемнение */
    height: var(--zHidHs);/* Для анимации открытия затемнения */
  }
  [zhid="1"]::before {/* нажатия/обводка на элементы Разрешена */
    content: '';
  }
  /* button */
  [zhid="1"] [zhidb] s,
  .zHid2[zhid="1"] [zhidb="2"] s,
  .zHid3[zhid="1"] [zhidb="3"] s {--B-I-C: #0b0}
  
  [zhid="1"] [zhidb=""] s::before,
  .zHid2[zhid="1"] [zhidb="2"] s::before,
  .zHid3[zhid="1"] [zhidb="3"] s::before {/* V Открыть */
    transform: translate(-50%, -50%) rotate(35deg);
  }
  [zhid="1"] [zhidb=""] s::after,
  .zHid2[zhid="1"] [zhidb="2"] s::after,
  .zHid3[zhid="1"] [zhidb="3"] s::after {
    transform: translate(-50%, -50%) rotate(-35deg);
  }
}
/* Авто закрытие всего когда экран меньше 768px */
@media (max-width: 768px) {/* меньше или ровно 768 */
  [zhid]:not([zhid="0"]) {
    overflow: hidden;
    max-height: var(--zHidH);
  }
  [zhid]:not([zhid="0"])::after {
    height: var(--zHidHs);/* Для анимации открытия затемнения */
  }
  [zhid]:not([zhid="0"])::before {/* нажатия/обводка на элементы Разрешена */
    content: '';
  }
  /* button */
  [zhid]:not([zhid="0"]) [zhidb=""] s,
  .zHid2:not([zhid="0"]) [zhidb="2"] s,
  .zHid3:not([zhid="0"]) [zhidb="3"] s {--B-I-C: #0b0}
  
  [zhid]:not([zhid="0"]) [zhidb=""] s::before,
  .zHid2:not([zhid="0"]) [zhidb="2"] s::before,
  .zHid3:not([zhid="0"]) [zhidb="3"] s::before {/* V Открыть */
    transform: translate(-50%, -50%) rotate(35deg);
  }
  [zhid]:not([zhid="0"]) [zhidb=""] s::after,
  .zHid2:not([zhid="0"]) [zhidb="2"] s::after,
  .zHid3:not([zhid="0"]) [zhidb="3"] s::after {
    transform: translate(-50%, -50%) rotate(-35deg);
  }
}
    /* ✦✦ Закрыто ✦✦ *//* #endregion */
/* ✦ Открыть/Закрыть [zhid] ✦ *//* #endregion */