/*  ✪ https://zam.usite.pro/publ/2-1-0-4
    ✫ Версия 1.0.0
    © Copyright Плюшки для сайтов 2024
*/

/* ✦ .tema8 Для светлого фона <body class="tema8" ✦ *//* #region */
body, .tema8 {
  --bg: #fff;  /* background Фон сайта */
  /*--Ct: #333;*/  /* Основной цвет для текста */
}
/* ✦ .tema8 Для светлого фона <body class="tema8" ✦ *//* #endregion */

/* ✦ .temaT Для тёмного фона <body class="temaT" ✦ *//* #region */
.temaT {/* По умолчанию белый фон! --bg: #fff; --Ct: #333; */
  --bg: #012;  /* background Фон сайта */
  /*--Ct: #ccc;*/  /* Основной цвет для текста */
}
/* ✦ .temaT Для тёмного фона <body class="temaT" ✦ *//* #endregion */

[zhidb], [zhidb] *,/* p, s */
[zhidb] s::after, [zhidb] s::before {/* Помогает интеграции */
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  outline: 0;
  box-sizing: border-box;
  line-height: 1.1;
  font-size: inherit;
}

/* ✦ a, button (.B-L Загрузка...) ✦ *//* #region */
    /* ✦✦ ! :hover/disabled/.B-L ✦✦ *//* #region */
[zhidb] {
  --B-C: #59f;/* Цвет */
  --B-I-C: var(--B-C);/* Свой цвет иконки <button style="--B-I-C: #fff" */
  display: inline-flex;
  align-items: center;/* Для выравнивания по Центру b */
  font: inherit;
  color: var(--B-C);
  background: #0000;
  cursor: pointer;
  text-decoration: unset;
  transition: .3s;
}

[zhidb]:not([disabled]):hover > *,/* :is(p,b) Затемнение при наведении мышки */
[zhidb][disabled] {/* disabled */
  opacity: .3;
}
/* смартфоны, устройства с сенсорным экраном, с которым работают пальцами */
@media (hover: none) and (pointer: coarse) {
  [zhidb]:not([disabled]):hover > *{/* Отжимает opacity.3 (На телефоне остаёдся гореть после нажатия) */
    opacity: 1;
    color: var(--B-C);
  }
}

[zhidb][disabled] {/* disabled/Загрузка */
  /* cursor: default; */
  pointer-events: none;/* Убераем возможнасть нажать */
}
[zhidb][disabled] > * {
  opacity: .6;
}
    /* ✦✦ ! :hover/disabled/.B-L ✦✦ *//* #endregion */
    
    /* ✦✦ b Текст ✦✦ *//* #region */
[zhidb] > b {
  display: block;/* Для выравнивания по Центру */
  text-align: left;/* Полезно при переносе строки */
  padding-left: 4px;
  font-weight: 400;
}
    /* ✦✦ b Текст ✦✦ *//* #endregion */
/* ✦ a, button (.B-L i Загрузка...) ✦ *//* #endregion */

/* ✦ icon (Свои) ✦ *//* #region */
    /* ✦✦ ! ✦✦ *//* #region */
button[zhidb] {/* button повышаем приоретет */
  --B-I-O: var(--B-I-Om, 4px);/* Отступ между <button(рамка) и <p(icon) */
  padding: 0 0 0 calc(1em + var(--B-I-O));
  height: calc(1em + var(--B-I-O));
}

[zhidb] p {/* icon. Для смещения иконки: p {margin-bottom/left: 4px;*/
  display: inline-flex;/* Центруем для <s */
  justify-content: center;
  align-items: center;
  position: absolute;
  left: calc(var(--B-I-O) / 2);/* Центруем */
  width: 1em;
  min-width: 1em;/* Помагает не сжаться, когда текст в b невмещяется */
  height: 1em;
}
    /* ✦✦ ! ✦✦ *//* #endregion */
/* ✦ icon (Свои) ✦ *//* #endregion */

/* ✦ button.B-I(x) p,s icon ✦ *//* #region */
    /* ✦✦ ! p,s ✦✦ *//* #region */
[zhidb] s {
  transform: translate(0, 0);/* Для корекции отображения */
}
[zhidb] s::after, [zhidb] s::before {/* V */
  content: '';
  position: absolute;
  left:0;
  border: 1px solid var(--B-I-C);
  /* Открыто/Закрыто .B-I-uglV: */
  width: .5em;
  height: .5em;
  transform: translate(-50%, -80%) rotate(45deg);
  background: #0000;
  border-width: 0 1px 1px 0;/* right body */
  border-radius: 0 2px 1px 2px;
  box-shadow: 1px 1px 3px -1px var(--B-I-C);
  clip: rect(0px, 100px, 100px, 0px);/* Скроем свечение с другой стороны */
  transition: .4s;
}
    /* ✦✦ ! p,s ✦✦ *//* #endregion */
/* ✦ button.B-I(x) p,s icon ✦ *//* #endregion */

/* ✦ Открыть/Закрыть [zhid] .zHid ✦ *//* #region */
/* • (zhid="{цифра}" || style="--zHidX:{цыфра};")
      <div zhid="1" - Всегда открыто
      <div zhid="0" - Всегда закрыто
      <div zhid=""  - Экран больше 768px: Открыто
                    - Экран меньше 769px: Закрыто
                    • Автозакрытие: (При первой загрузке страницы и когда экран меньше 768px.)

   • Видемость при закрытии: (style="zHid:{цыфры}ex")
      <div style="--zHid:3ex"
      <div style="--zHid:7ex"
      undefined = 4ex
        ex - Высота шрифта в нижнем регистре
           - Можно использовать все виды: px, em ...
    
   • <button zhidb> - кнопка для Открыть/Закрыть
   
  <div style="--zHid:3" zhid="1"><button zhidb></button>
    ...
  </div>
*/
    /* ✦✦ ! ✦✦ *//* #region */
[zhid] {
  --zHidC: var(--bg, #fff);/* Цвет затемнения (Обычно цвет заднего фона) */
  --zHidH: var(--zHid, 4ex);/* Размер видимого участка при закрытом состоянии */
  --zHidHs: 2.5ex;/* Размер тени */
  position: relative;
  max-height: max-content;/* В js проверяем что открыто-закрыто */
  /* Убераем дёрганье button. */
  /*overflow: auto;*//* Плохо !!! (может поивится прокрутка) */
  
  /*border: 1px solid; *//* Плохо !!! */
  display: flow-root;/* !!! Стадия теста */
}
        /* ✦✦✦ button ✦✦✦ *//* #region */
[zhidb] {z-index: 3!important;
  float: right;
}

[zhidb] s {--B-I-C: #f66}/* Ʌ Закрыть */
[zhidb] s::after {
  transform: translate(-50%, -20%) rotate(-135deg);/* крутим через право */
}
[zhidb] s::before {
  transform: translate(-50%, -20%) rotate(225deg);/* крутим через лево */
}
        /* ✦✦✦ button ✦✦✦ *//* #endregion */

        /* ✦✦✦ button/span для текста ✦✦✦ *//* #region */
[zhid].zHidTxt [zhidb] {
  position: absolute;
  bottom:0;
  right: 1px;
  pointer-events: none;
}
[zhid].zHidTxt span {
  margin-right: 1.5em;/* Отступ для button */
}
        /* ✦✦✦ button/span для текста ✦✦✦ *//* #endregion */
    /* ✦✦ ! ✦✦ *//* #endregion */

    /* ✦✦ Закрыто ✦✦ *//* #region */
        /* ✦✦✦ ! ✦✦✦ *//* #region */
[zhid]::after, [zhid]::before {
  position: absolute!important;
  left: 0;
  right: 0;
  bottom: 0;
}

[zhid]::after {z-index: 2;/* Затемнение с низу */
  content: '';
  height: 0;/* Для анимации открытия затемнения */
  background: linear-gradient(0, var(--zHidC), #0000);
  pointer-events: none;
  transition: 1s
}
[zhid="0"]::after {/* Открыли! Уберём анимацию*/
  transition: 0s
}
/* Изменение: 'Запрет нажатия/обводка на элементы когда закрыто' ::before */
[zhid]:not([zhid="0"])::before {/* Убераем возможномть нажать (Когда закрыто), полезно! */
  z-index: 3;
  top: 0;
}
/* Уберём возможное нажатие на <button>✓ когда закрыто, для внутрених .zHid2, .zHid3 */
[zhid]:not([zhid="0"], .zHid2, .zHid3) :is([zhidb="2"], [zhidb="3"]),/* Уровень 1, и уберём в Уровень2 и Уровень3 */
.zHid2:not([zhid="0"]) :is([zhidb="3"]) {/* Уровень2, и уберём в Уровне3 */
  z-index: 2;
  pointer-events: none;
  opacity: .4;
}
        /* ✦✦✦ ! ✦✦✦ *//* #endregion */
/* @media уберает двойное закрытие */
@media (min-width: 700px) {/* 700 ровно или больше. */
  /* Закрываем: */
  [zhid="1"] {
    overflow: hidden;
    max-height: var(--zHidH);
  }
  [zhid="1"]::after {/* затемнение */
    height: var(--zHidHs);/* Для анимации открытия затемнения */
  }
  [zhid="1"]::before {/* нажатия/обводка на элементы Разрешена */
    content: '';
  }
  /* button */
  [zhid="1"] [zhidb] s,
  .zHid2[zhid="1"] [zhidb="2"] s,
  .zHid3[zhid="1"] [zhidb="3"] s {--B-I-C: #0b0;}
  
  [zhid="1"] [zhidb=""] s::before, [zhid="1"] [zhidb=""] s::after,
  .zHid2[zhid="1"] [zhidb="2"] s::before, .zHid2[zhid="1"] [zhidb="2"] s::after,
  .zHid3[zhid="1"] [zhidb="3"] s::before, .zHid3[zhid="1"] [zhidb="3"] s::after {/* V Открыть */
    transform: translate(-50%, -80%) rotate(45deg);
  }
  
  [zhid].zHidTxt:not([zhid="0"]) [zhidb] {
    top: 0;
    bottom: unset;
  }
  [zhid="1"].zHidTxt span {/* Отступ контенера с права для текста под кнопку */
    display: block;
  }
}
/* Авто закрытие всего когда экран меньше или ровно 699px и [zhid]:not([zhid="0"]) */
@media (max-width: 699px) {/* меньше или ровно 699 */
  [zhid]:not([zhid="0"]) {
    overflow: hidden;
    max-height: var(--zHidH);
  }
  [zhid]:not([zhid="0"])::after {
    height: var(--zHidHs);/* Для анимации открытия затемнения */
  }
  [zhid]:not([zhid="0"])::before {/* нажатия/обводка на элементы Разрешена */
    content: '';
  }
  /* button */
  [zhid]:not([zhid="0"]) [zhidb=""] s,
  .zHid2:not([zhid="0"]) [zhidb="2"] s,
  .zHid3:not([zhid="0"]) [zhidb="3"] s {--B-I-C: #0b0}
  
  [zhid]:not([zhid="0"]) [zhidb=""] s::before, [zhid]:not([zhid="0"]) [zhidb=""] s::after,
  .zHid2:not([zhid="0"]) [zhidb="2"] s::before, .zHid2:not([zhid="0"]) [zhidb="2"] s::after,
  .zHid3:not([zhid="0"]) [zhidb="3"] s::before, .zHid3:not([zhid="0"]) [zhidb="3"] s::after {/* V Открыть */
    transform: translate(-50%, -80%) rotate(45deg);
  }
  
  [zhid].zHidTxt:not([zhid="0"]) [zhidb] {
    top: 0;
    bottom: unset;
  }
  [zhid].zHidTxt:not([zhid="0"]) span {/* Отступ контенера с права для текста под кнопку */
    display: block;
  }
}
    /* ✦✦ Закрыто ✦✦ *//* #endregion */
/* ✦ Открыть/Закрыть [zhid] ✦ *//* #endregion */